# semantic source
semantic/src/*
!semantic/src/theme.config
!semantic/src/themes/
semantic/src/themes/*
!semantic/src/themes/rovercode
semantic/tasks/*
semantic/gulpfile.js

# node
node_modules/

# build output
static/semantic/dist/
public/

# output
.idea/
.vscode/
